*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/backgroundproject.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width:0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.main {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 500px; 
    background-color: #ccc;
    /* height: 400px;  commenting out the height because we are don scaffolding, we only needed it to see our work fully 8 */
    border-radius: 5px; /*rounded corners*/
    padding-top: 10px;
    margin-top: 15px;
}

.card-image {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-radius: 5px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-self: center;
}
.card-image form{
    width: 100%;
    height: 100%;
}
.url_image{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.url_image img{
    width: 50%;
    height: 90%
}
.card-buttons-container {
    width: 480px; /* this is so that it has the same width as the card-image */
    margin-right: auto; /* to centralize the container in the card image */
    margin-left: auto;  /* to centralize the container in the card image */
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    display: none;
}

.card button:hover {
    background: rgb(134, 92, 92);
}

.card-buttons-container2 {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    
}

.card-button {
    padding-top: 15px; /* making the text far from the borders */
    padding-bottom: 15px;
    border: none;
    border-radius: 3px;
    font-family: sans-serif;
    margin-bottom: 10px;

}

.file-button {
    width: 48%;
} /* this is an extra class for the two card buttons in card 1, because it dosen't share the same width as card 2 */

.file-butt {
    width: 480px;
}

ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background: rgb(103, 60, 60);
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
ul.nav li {
    border-right:1px solid #e7e1e5; 
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color: #ebbde0;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:  rgb(134, 92, 92);
}