footer {
    background-color: #041304;
    color:rgb(237, 201, 224);
    font-weight: 200;
    font-size:larger;
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
    margin-top: 50px;
    padding-top: 50px;
}