body {
    margin: 0;
    padding: 0;
    
}

.main {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 500px; 
    background-color: #ccc;
    /* height: 400px;  commenting out the height because we are don scaffolding, we only needed it to see our work fully 8 */
    border-radius: 5px; /*rounded corners*/
    padding-top: 10px;
    margin-top: 10px;
}

.card-image {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-radius: 5px;
    height: 250px;
}

.card-buttons-container {
    width: 480px; /* this is so that it has the same width as the card-image */
    margin-right: auto; /* to centralize the container in the card image */
    margin-left: auto;  /* to centralize the container in the card image */
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.card-buttons-container2 {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    
}

.card-button {
    padding-top: 15px; /* making the text far from the borders */
    padding-bottom: 15px;
    border: none;
    border-radius: 3px;
    font-family: sans-serif;
    margin-bottom: 10px;

}

.file-button {
    width: 48%;
} /* this is an extra class for the two card buttons in card 1, because it dosen't share the same width as card 2 */

.file-butt {
    width: 480px;
}

ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background: rgb(134, 92, 92);
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
ul.nav li {
    border-right:1px solid #e7e1e5; 
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color: #ebbde0;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background: rgb(103, 60, 60);
}